{
  // "presets": [
  //   ["env", { "modules": false }],
  //   "stage-3"
  // ],
  // "plugins": ["transform-regenerator"]
  "presets": ["@babel/preset-env"],
  "plugins": ["transform-regenerator"]
}
